<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConexionLocal" value="Data Source=LJ;Initial Catalog=Turnos;User ID=sa;Password=Parquearse123"/>
		<add key="ConexionNube" value="User ID=SYSDBA;Password=masterkey;Database=C://magister/datos/magisterz.mgt;DataSource=192.168.1.92;Charset=NONE;"/>
		<add key="IdSede" value="1"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>