<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IdSede" value="10"/>
		<add key="PeriodoEjecucionSegundos" value="5"/>
		<add key="ConexionLocal" value="Data Source=192.168.1.87;Initial Catalog=Turnos;User ID=sa;Password=Parquearse123"/>
		<add key="ConexionNube" value="Data Source=192.168.1.5;Initial Catalog=Turnos;User ID=sa;Password=Parquearse123"/>
		<add key="IdSede" value="4"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>